# Practice with SQLite 3 with a given prompt

You are given the below tables, showing Store, Product, and Sales information for a chain of grocery stores. The columns are labeled in such a way that you should be able to interpret what each field is showing.

First up, we need to create the tables...

In [1]:
import sqlite3

In [2]:
# Create DB
connection = sqlite3.connect("test_DB.db")

In [3]:
# Define SQL Tables
sql_table1 = """
CREATE TABLE store ( 
store_number INTEGER PRIMARY KEY, 
location text);"""

sql_table2 = """
CREATE TABLE product ( 
product_id INTEGER PRIMARY KEY, 
product_name text,
price_usd real);"""

sql_table3 = """
CREATE TABLE sales ( 
sale_id INTEGER,
product_id integer,
store_id integer,
date DATE);"""

In [4]:
# Establish a Connection to the Database
cursor = connection.cursor()

In [5]:
# delete 
#cursor.execute("""DROP TABLE store;""")
#cursor.execute("""DROP TABLE product;""")
#cursor.execute("""DROP TABLE sales;""")

In [6]:
# Initialize the tables
cursor.execute(sql_table1)
cursor.execute(sql_table2)
cursor.execute(sql_table3)

In [7]:
# Populate the DB's
store_data = [ ("91110", "New York"),
               ("99525", "Los Angeles"),
               ("37340", "Tokyo"),
             ("32016", "Detroit"),
             ("57507", "London")]

product_data = [ ("31331", "Apples", "2"),
               ("34611", "Lettuce", "3"),
               ("49760", "Chicken", "5"),
             ("26583", "Lemons", "1"),
             ("20267", "Bread", "2")]


sales_data = [ ( "1","31331", "91110", "02/20/2020"),
             ( "1","31331", "91110", "02/20/2020"),
             ( "2","34611", "57507", "02/20/2020"),
             ( "3","26583", "37340", "02/20/2020"),
             ( "3","34611", "32016", "02/20/2020"),
             ( "3","20267", "99525", "02/21/2020"),
             ( "4","31331", "99525", "02/21/2020"),
             ( "5","49760", "99525", "02/21/2020"),
             ( "6","34611", "97507", "02/21/2020"),
             ( "7","31331", "91110", "02/21/2020")]

In [8]:
# Insert the data
for p in store_data:
    format_str1 = """INSERT INTO store (store_number, location)
    VALUES ("{store_number}", "{location}");"""
    
    sql_command1 = format_str1.format(store_number=p[0], location=p[1])
    cursor.execute(sql_command1)
    
for l in product_data:
    format_str2 = """INSERT INTO product (product_id, product_name, price_usd)
    VALUES ("{product_id}", "{product_name}", "{price_usd}");"""
    
    sql_command2 = format_str2.format(product_id=l[0], product_name=l[1], price_usd=l[2])
    cursor.execute(sql_command2)
    
for k in sales_data:
    format_str3 = """INSERT INTO sales (sale_id, product_id, store_id, date)
    VALUES ("{sale_id}", "{product_id}", "{store_id}", "{date}");"""
    
    sql_command3 = format_str3.format(sale_id=k[0], product_id=k[1], store_id=k[2], date = k[3])
    cursor.execute(sql_command3)

In [9]:
# Never forget this, if you want the changes to be saved:
connection.commit()

In [10]:
# Close the connection
connection.close()

## Now, query the data to get the desired answer

Using the tables above, write a SQL query to return the number of sales as well as the average sale price (in dollars) for a given location.

Your output should return the following columns:

location	, number_sales	, avg_sale_price

In [11]:
connection = sqlite3.connect("test_DB.db")

cursor = connection.cursor()

In [12]:
# What does the data look like? Does our table pull right?

# Make the query
cursor.execute("SELECT * FROM store") 

# Now, print the query
print("fetchall:")
result = cursor.fetchall() 
for r in result:
    print(r)

fetchall:
(32016, 'Detroit')
(37340, 'Tokyo')
(57507, 'London')
(91110, 'New York')
(99525, 'Los Angeles')

In [17]:
## Similar, but instead do it one at a time
cursor.execute("SELECT * FROM store") 

# Print
print("\nfetch one:")
res = cursor.fetchone() 
print(res)

fetch one:
(32016, 'Detroit')

Now again, our problem: 
- Using the tables above, write a SQL query to return the number of sales as well as the average sale price (in dollars) for a given location.

## The Query, which I put into SQLite

SELECT 

    location AS Location,

    count(sale_id) AS num_sales, 
    
    avg(price_usd) AS avg_price


FROM 
    
    test_db.sales
    
    INNER JOIN test_db.store ON sales.store_id = store.store_number
    
    INNER JOIN test_db.product ON sales.product_id = product.product_id
    

GROUP BY 

    sales.store_id

ORDER BY

    avg_price DESC;

## Our Results

| Location | NUM_SALES | AVG_PRICE |
|----------|-----------|-----------|
|New York  |     3     |      2    |
|Los Angeles |     3     |      3    |
|Detroit  |     1     |      3    |
|Tokyo  |     1     |      1    |
|London  |     1     |      3    |

We see that New York and LA have the highest number of sales but LA seems to be making more money per sale, on average.

This was a fun way to dive a little bit further into sqlite3 on Python and then connect to the DB in SQLite and answer the question.